{% extends "layout.twig" %}

{% block content %}
<h2>Viewing {{ filename }}</h2>
<pre class="logfile {{ logclass }}">
{% for line in filedata %}{{ line }}{% endfor %}
</pre>
<a class="pure-button" href="/">Back to List</a>
<a class="pure-button" href="?p=0&d=asc&l={{ limit }}">Top</a>
<a class="pure-button" href="?p={{ prevbyte }}&d=desc&l={{ limit }}">PgUp</a>
<a class="pure-button" href="?p={{ nextbyte }}&d=asc&l={{ limit }}">PgDn</a>
<a class="pure-button" href="?p=bot&d=desc&l={{ limit }}">Bottom</a>
{% endblock %}
